.project-preview-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.project-preview-title {
    font-weight: 600;
}

.project-preview-content {
    margin-left: 20px;
}

.project-list {
    padding: 20px;
}

.project-card {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 20px;
}

.project-card:hover {

    border: 2px solid green;
}

.reward-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the rewards */
    gap: 20px;
}

.reward-card {
    flex: 1 1 calc(50% - 40px);
    /* Two cards per row with gap */
    max-width: 300px;
    /* Optional: Limit the maximum width of each card */
    margin-bottom: 20px;
}

.reward-card img {
    height: 200px;
    object-fit: cover;
}