.inbox-wrapper {
    display: flex;
    height: 85vh;
    margin: 20px;
    width: 80vw;
    background-color: white;
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 5px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
}


.inbox-list {
    border-right: 1px rgb(201, 201, 201) solid;
    width: 30%;
}

.inbox-list-title {
    padding-left: 10px;
    font-weight: 700;
    font-size: 26px;
    margin: 10px;

}

.inbox-list-search {
    padding-inline: 10px;
}

.inbox-list-search-bar {
    padding-inline: 10px;
    margin-bottom: 10px;
}


.inbox-list-conversations {
    height: 637px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 525px;
}

/* Style the scrollbar track and thumb */
.inbox-list-conversations::-webkit-scrollbar {
    width: 8px;
}

.inbox-list-conversations::-webkit-scrollbar-thumb {
    background: #bababa;
    /* Color of the thumb */
    border-radius: 4px;
    box-shadow: inset 0 0 4px rgb(0, 0, 0, 0.5);
}

.inbox-list-conversations::-webkit-scrollbar-track {
    background: #ffffff;
    /* Color of the track */
    border-radius: 4px;
    /* Rounded track */
    box-shadow: inset 0 0 3px rgb(0, 0, 0, 0.3);
}



.chat-box--list-chat {
    color: black;
    padding: 5px;
    cursor: pointer;
    margin-inline: 10px;
    min-width: 432px;
}

.chat-box--list-chat-selected-item {
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
    cursor: pointer;
    margin-inline: 10px;
    border-radius: 10px;
    background-color: #4FCD94;
    min-width: 432px;
}

.chat-box--list-chat:last-child {
    margin-bottom: 0;
    border-bottom: none;
    /* Remove the margin for the last element */
}

.chat-box--list-chat:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    border-radius: 10px;
    border-bottom: none
}

.chat-box--list-title {
    font-weight: 600;
    margin-right: 20px;
    margin-left: 10px;
}

.matching-message-count {
    color: #4FCD94;
}

.chat-box--list-chat-selected-item>.matching-message-count {
    color: #ffffff;
}

.search-chat-clear-filter {
    color: #656969;
    cursor: pointer;
}

.search-chat-clear-filter:hover {
    color: #4FCD94
}

/* chatbox */
.inbox-chatbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* chatbox header */
.inbox-chatbox-header {
    height: 10%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inbox-chatbow-header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
}

.inbox-chatbow-header-user:hover {
    background-color: #e6e6e6;
}

.inbox-chatbox-button-info {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: #4FCD94;
    border-radius: 100%;
    transition: background-color 0.2s;
}

.inbox-chatbox-button-info:hover {
    background-color: #e7e7e7;

}

/* chatbox footer */
.inbox-chatbox-footer {
    /* border-top: 1px rgb(201, 201, 201) solid; */
    /* min-height: 10%; */
    position: relative;
    /* Add position relative to create a positioning context */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.more-input {
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
}


.file-preview {
    /* Adjust the left value if needed */
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    /*  z-index: 1; */
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.file-preview-img {
    border-radius: 10px;
}

.remove-file-icon:hover {
    color: rgb(102, 102, 102)
}

.more-input {
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
}

.add-more-files {
    color: #888;
    margin-right: 10px;
    cursor: pointer;
}

.add-more-files:hover {
    color: #4FCD94;
}

.inbox-chatbox-footer .input-main {
    flex: 1;
    max-width: 878px;
}

.input-main .input-text {
    padding-block: 5px;
    padding-inline: 20px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.input-main .textarea-with-file {
    padding-block: 5px;
    padding-inline: 20px;
    border: none;
    border-radius: 0 0 25px 25px;
    background-color: #F1F1F1;
    width: 100%;
}

.input-main .textarea {
    padding-block: 5px;
    padding-inline: 20px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 25px;
    resize: vertical;
    height: auto;
    min-height: 40px;
    width: 100%;
}

.input-main .input-text-with-file {
    padding-block: 5px;
    padding-inline: 20px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 0 0 25px 25px;
    resize: vertical;
    height: auto;
    min-height: 40px;
    width: 100%;
}

.button-send-chat,
.button-send-chat[disabled] {
    background-color: #4FCD94;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: 5px;
}

.button-send-chat:hover {
    background-color: #35ad77
}

.button-send-chat:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.button-send-chat:hover>.fa-paper-plane {
    animation: throwAnimation 1s ease-in-out;
}

.button-send-chat>.fa-spinner {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes throwAnimation {
    0% {
        transform: translateX(0) rotate(0);
    }

    50% {
        transform: translateX(-16px) rotate(45deg);
    }

    100% {
        transform: translateX(15px) rotate(45deg);
    }
}

.more-input .attachement {
    transition: transform 0.3s ease-in-out;
}

.more-input:hover .attachement {
    transform: rotate(-45deg);
}

.emoji-picker {
    z-index: 4;
    position: absolute;
    bottom: 50px;
    /*     right: 500px; */
}

.file-preview {
    display: inline-block;
}

.spinning-icon>.fa-spinner {
    animation: rotation 2s infinite linear;
}

/* chatbox body */

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.message-creator {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.message-content {
    background-color: #e9e9ea;
    border-radius: 10px;
    max-width: 520px;
    padding-inline: 10px;

}


.message-content-error {
    font-size: 18px;
    opacity: 40%;
    border-radius: 10px;
    border: 1px solid gray;
    max-width: 520px;
    padding-inline: 10px;
    font-weight: 500;
}

.message-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-date {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

/* .message-content img {
    max-width: 50vw;
    margin: 20px;
    background-color: white;
} */
.message-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    background-clip: content-box;
}

.message-content-photo {
    max-width: 50%;
    border-radius: 25px;
}

.message-bottom {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
    align-self: center;
}

/* current-user */
.current-user .message-content {
    background-color: #4FCD94;
    color: white;
    align-self: flex-end;
}

.current-user .message-content.only-emoji {
    background-color: transparent;
}

.other-user .message-content.only-emoji {
    background-color: transparent;
}

.only-emoji {
    font-size: 240px;
    /* Adjust the font size as needed */
}

.current-user .message-content-error {
    align-self: flex-end;
}

.current-user .message-date {
    align-self: flex-end;
}

.current-user .message-creator {
    align-self: flex-end;
}

.current-user .message-content-photo {
    align-self: flex-end;
}

/* other-user */
.other-user .message-date {
    align-self: flex-start;
}

.other-user .message-creator {
    align-self: flex-start;
}

.other-user .message-content {
    background-color: #cfcfcf;
    color: #000;
    align-self: flex-start;
}

.other-user .message-content-error {
    align-self: flex-start;
}

.other-user .message-content-photo {
    align-self: flex-start;
}

.file-download-link {
    text-decoration: none;
    font-weight: 500;
    /* Add any other styles you want for the file download link */
}

.current-user .file-download-link {
    color: white;
}

.other-user .file-download-link {
    color: #000;
}

/* tooltip-timestamp */

.tooltip-timestamp.show {
    opacity: 0.8 !important;
}

.tooltip-timestamp>div.tooltip-inner {
    background-color: #464646 !important;
}

.tooltip-timestamp>div.tooltip-arrow {
    display: none !important;
}

.highlighted-text {
    background-color: yellow;
    font-weight: bold;
    color: #3a536c;
}



.inbox-chatbox-body {
    flex-grow: 1;
    /*   height: 700px; */
    overflow-y: auto;
    padding: 50px;
    /*    background-color: #fff; */
}

.inbox-chatbox-body::-webkit-scrollbar {
    width: 10px;
}

.inbox-chatbox-body::-webkit-scrollbar-thumb {
    background: #bababa;
    /* Color of the thumb */
    border-radius: 4px;
    box-shadow: inset 0 0 4px rgb(0, 0, 0, 0.3);
}

.inbox-chatbox-body::-webkit-scrollbar-track {
    background: #ffffff;
    /* Color of the track */
    /* Rounded track */
    border-radius: 0px 0px 4px 4px;
    box-shadow: inset 0 0 3px rgb(0, 0, 0, 0.5);
}


.status-dot-online {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    bottom: 15px;
    right: -25px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}