.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Inter, sans-serif;
}

.app-body {
  flex: 1;
  /* Make the body take the remaining space */
  display: flex;
  /* Use flexbox */
  /*   align-items: center; */
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  padding: 20px;
  /* Example padding */
  background-color: #f7f7f7;
}

.error-text {
  color: red;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.no-focus-border:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: green !important;
  /* Set to default border color or your desired border color */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  /* Full viewport height */
}

.bigger-spinner {
  color: #4FCD94;
  width: 1000px;
  height: 1000px;
  border-width: 10px;
  /* Adjust thickness */
}