form {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.password-forgot-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-wrapper {
  padding: 50px;
  background-color: #dadfe1;
  border-radius: 2%;
}
.errorForgotPassword {
  color: red;
  margin-bottom: 1rem;
}
